##  Can be commented out if causes errors, see notes above.
Options +SymLinksIfOwnerMatch -Indexes

#
#  mod_rewrite in use

RewriteEngine On

<Files .htaccess>
order allow,deny
deny from all
</Files>


<Files 403.shtml>
order deny,allow
allow from all
</Files>
